{% assign project = site.opensource | find: "name", include.name %}
{% if project.github %}
  {% assign github = project.github %}
{% elsif project.githubUser %}
  {% assign github = "https://github.com/" | append: project.githubUser %}
  {% if project.githubRepo %}
    {% assign github = github | append: '/' | append: project.githubRepo %}
  {% endif %}
{% endif %}
<div class="card">
  {% if project.image %}
  <img src="{{ site.baseurl }}/assets/images/opensource/{{ project.image }}" class="card-header-image"/>
  {% endif %}
  <div class="card-content">
    <h3>{{ project.name }}</h3>
    {{ project.content | markdownify }}
  </div>

  <div class="card-footer">
    {% if project.roswiki %}
    <a href="{{ project.roswiki }}" title="View on ROS Wiki">
      <img alt="ROS Logo" src="{{ site.baseurl }}/assets/images/logos/ROS_Logo.png" width="80" class="plain d-block"/>
    </a>
    {% endif %}
    {% if github %}
    <a href="{{ github }}" title="View on GitHub" class="github-info">
      <img alt="GitHub Logo" src="{{ site.baseurl }}/assets/images/logos/GitHub_Logo.png" class="plain"/>
      {% if project.githubUser %}
        {% if project.githubRepo %}
        <img alt="GitHub Repo's stars" src="https://img.shields.io/github/stars/{{project.githubUser}}/{{project.githubRepo}}?color=green" class="plain as-left">
        {% else %}
        <img alt="GitHub Org's stars" src="https://img.shields.io/github/stars/{{project.githubUser}}?color=green" class="plain as-left">
        {% endif %}
      {% endif %}
    </a>
    {% endif %}
  </div>
</div>