---
---

@import "{{ site.theme }}";

$max-content-width: 1024px;

body {
  background-color: #212121;
}

.d-flex {
  display: flex !important;
  flex-wrap: wrap;
  align-items: flex-start;
}

.d-block {
  display: block !important;
}

.text-nobreak {
  white-space: nowrap;
}

.ma-2, .mr-2 {
  margin-right: 0.5rem;
}

.ma-2, .ml-2 {
  margin-left: 0.5rem;
}

.col-6, .col-12, .col-md-6, .col-md-12 {
  box-sizing: border-box;
  flex: 1 0 auto;
}

.col-12 {
  flex: 0 0 100%;
}

.col-6 {
  width: 48%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.card-header-image {
  margin: -10px -10px 0 -10px;
  padding: 0;
  border: 0;
  width: calc(100% + 20px);
  max-width: unset;
  max-height: 300px;
  object-fit: contain;
}

.card-content {
  flex-grow: 1;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 4rem;
}

.github-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  img:first-of-type {
    height: 66%;
  }

  img:nth-of-type(2) {
    height: 33%;
    object-fit: contain;
  }
}

.inner {
  max-width: $max-content-width;
  box-sizing: border-box;
  padding: 0;
}

.outer {
  background: none !important;
}

img {
  max-width: 100%;
}

img.plain {
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: unset;
}

a.plain {
  color: inherit;
}

a.plain:hover {
  text-decoration: none;
}

a:hover .card {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 6px 2px rgba(0, 0, 0, 0.1);
}

table {
  margin: 10px 0;

  td {
    padding: 8px;
  }
}

.heading-anchor a {
  text-decoration: none;
  opacity: 0.3;
  vertical-align: middle;
  font-size: 60%;
}

.heading-anchor:hover a {
  text-decoration: none !important;
  opacity: 1;
}

#header_wrap {
  .inner {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    background-image: url("{{ '/assets/images/header.png' | relative_url }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
  }

  .th-logo {
    margin: 2rem;
    max-width: 60%;
  }

  .sim-logo {
    margin-right: 2rem;
  }

  .logo {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    padding: 0;
  }

  .right {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

#navigation_wrap {
  .inner {
    display: flex;
    height: 3rem;
    background: #000000;
    justify-content: space-between;
  }
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    height: 100%;


    a {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 1rem;
      text-decoration: none;
      color: #ffffff;
    }

    a:hover {
      background-color: #ffffff22;
    }
  }

  ul.social-media-buttons {
    img {
      background: white;
      filter: grayscale(100%);
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: none;
    }

    li a {
      padding: 0 8px;
    }

    li:hover img {
      filter: grayscale(0);
    }
  }
}

#main_content_wrap {
  border: 0;

  #main_content {
    padding-top: 0;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;

    .content {
      padding: 20px;
      flex: 1 0 100%;
      box-sizing: border-box;
    }

    .sidebar {
      flex: 1 0 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #eee;
      text-align: center;

      img.logo {
        margin: 5px 10px;
        padding: 0;
      }

      a {
        font-size: 1rem;
        font-weight: bold;
        color: initial;
        text-decoration: none;
      }
    }
  }
}

#footer_wrap {
  background: #000000;
  color: #aaaaaa;

  .inner {
    padding: 10px;
    background: #000000;
    font-size: 0.8rem;

    a {
      text-decoration: none;
    }
  }
}

// ROBOTS
.robots-alumni {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  .card {
    min-width: 240px;

    .card-header-image {
      object-fit: cover;
      object-position: top;
    }

    .time-window {
      color: #666666;
      font-size: 1.1rem;
      float: right;
    }
  }
}

// OPEN SOURCE
.open-source {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;

}

// CONTACT
.researchers {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  > .card {
    min-width: 240px;
  }

  h3 {
    text-align: center;
  }

  table, td {
    border: 0;
  }

  td {
    padding: 4px;
  }
}

.researcher-picture {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
}

// COMPETITIONS
.image-tile {
  position: relative;
  cursor: pointer;
  
  .image-title {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: #000000aa;
    padding: 4px 0 0;
    color: #ffffff;
  }

  img {
    display: block;
    width: 100%;
    margin: 8px 0;
  }
}

@media only screen and (min-width: 768px) {
  #main_content_wrap {
    .inner {
      .content {
        flex-basis: 75%;
      }
      .sidebar {
        flex-basis: 25%;
      }
    }
  }

  .ma-md-2, .ml-md-2 {
    margin-left: 0.5rem;
  }

  .ma-md-2, .mr-md-2 {
    margin-right: 0.5rem;
  }

  .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
    flex: 1 0 auto;
  }

  .col-md-2 {
    width: 16%;
  }

  .col-md-4 {
    width: 32%;
  }

  .col-md-5 {
    width: 40%;
  }

  .col-md-6 {
    width: 48%;
  }

  .col-md-7 {
    width: 56%;
  }

  .col-md-8 {
    width: 64%;
  }
  
  .col-md-12 {
    flex: 0 0 100%;
  }

  .researchers {
    // > .card:nth-of-type(1) {
    //   grid-row: 1;
    //   grid-column: 2;
    // }
    
    // > .card:nth-of-type(n+2) {
    //   grid-row: 2;
    // }
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-2, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7 .col-lg-8 {
    flex: 1 0 auto;
  }

  .col-lg-2 {
    width: 16%;
  }

  .col-lg-4 {
    width: 32%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-6 {
    width: 48%;
  }

  .col-lg-7 {
    width: 56%;
  }

  .col-lg-8 {
    width: 64%;
  }
}
