---
layout: page
title: "Contact Team Hector"
permalink: /contact
---
<h2>You can reach us at {% include email.html data="lRmL0RWY0NXbyFGZtUHdu0WazBkcvR3YlhWbhVGd" %}</h2>

<h3>Responsible Research Associates</h3>
<div class="researchers">
{% include researcher.html  image="martin_oehler.jpg"
                            name="Martin Oehler"
                            building="Robert-Piloty-Gebäude S2|02"
                            room="D206"
                            email="=UGZuQHZhR3ctJXYk1Sd05SbpNHQyVGboV2b"
                            research="Optimization-based Motion Planning, Omni-directional Vision, Robot Calibration" %}

{% include researcher.html  image="kdaun.jpeg"
                            name="Kevin Daun"
                            building="Robert-Piloty-Gebäude S2|02"
                            room="D211"
                            email="lRmL0RWY0NXbyFGZtUHdu0WazBkb1FGZ"
                            research="SLAM, Multi-modal 3D Mapping and State Estimation in Harsh Environments, Learning for State Estimation and Mapping, Multi-robot Operation, Operator Assistance" %}

{% include researcher.html  image="mschnaubelt.jpeg"
                            name="Marius Schnaubelt"
                            building="Robert-Piloty-Gebäude S2|02"
                            room="D211"
                            email="lRmL0RWY0NXbyFGZtUHdu0WazBEdsVmY1FmboN2c"
                            research="Versatile Manipulation of Unknown Objects, Intelligent Operator Assistance Functions for Rescue Robots" %}
{% include researcher.html  image="stefan_fabian.png"
                            name="Stefan Fabian"
                            building="Robert-Piloty-Gebäude S2|02"
                            room="D211"
                            email="=UGZuQHZhR3ctJXYk1Sd05SbpNHQuFWaiFmZ"
                            research="Pose & Stability Prediction, UGV Navigation, Multi-robot operation, User Interface, Intelligent Operator Assistance Functions, Open Source" %}
</div>