---
layout: page
title: "Robots - Team Hector"
permalink: /robots
---
{% assign activeRobots = site.robots | where:"active","true" | sort: "order", "first" %}
{% assign alumniRobots = site.robots | where:"active","false" | sort: "lastUsed", "last" %}

<h1>Active Robots</h1>
<p>The following robots are currently used by Team Hector.</p>
{% for robot in activeRobots reversed %}
  {% include robot.html name=robot.name %}
{% endfor %}

<hr>

<h1>Alumni</h1>
<p>These robots were used by Team Hector in the past but have since retired.</p>

<div class="robots-alumni">
{% for robot in alumniRobots reversed %}
  {% include robot_alumni.html name=robot.name %}
{% endfor %}
</div>
